/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&family=Roboto+Mono:wght@300&display=swap');*/
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito:wght@300;800&family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

// fonts
$redhat: 'Red Hat', sans-serif; 
$josefin: 'Josefin Sans', sans-serif;
$monospace: 'Nanum Gothic Coding', sans-serif;

// Colors
$light-green: #D1D9CE;
$medium-green: #98A08D;
$dark-green: #757B6D;
$cream: #FDFBF7;
$dark-gray: #5A5856;
$medium-gray: #64605f;
$purple: #9158A2; 
$orange: #ad7237;
$champagne-pink: #f2dfce;
$old-lace: #fff1e0;
$metallic-seaweed: #0d7680;
$darkred: #900c3f;
$light-gray: #c2c8d1;
$quarto-bg: #FFC994;
$quarto-codeblock: #F1C08E;
$quarto-grey: #E8EFF8;
$clik-blue: #003660;

// Base document colors
$navbar-bg: $metallic-seaweed;
$navbar-fg: $champagne-pink; 
$navbar-hl: $quarto-codeblock; 
$body-bg: $light-green;
$body-color: $medium-gray;
$footer-bg: $metallic-seaweed; 
$link-color: $metallic-seaweed;
$btn-code-copy-color: $metallic-seaweed;
$code-annotation-higlight-bg: $old-lace;

// Inline code
$code-bg: $light-gray;
//$code-color: $orange; 

//Code blocks
$code-block-bg: $light-gray;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

code.sourceCode {
    font-family: $monospace;
    font-size: 15px;
}


.cell-output {
  background-color: #c2c8d1;
  border-radius: 4px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $redhat; 
  letter-spacing: 1px;
  font-weight: 700;
  color: $clik-blue;
}

body {
  font-family: $redhat;
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 19.5px;
  font-weight: 350;
}

// modify blockquote styling
blockquote {
  margin: 0 0 1rem;
  padding: 0.625rem 1.25rem;
  border-left: 0.25rem solid $cream;
}

/* ID selectors */

// responsive-ish iframes (width adjusts to viewport size; couldn't figure out how to expand viewport height, so set to this size for now)
#map-size {
  width: 100%;
  height: 350px;
}

// banner titles (these turned dark green after updating to Quarto v1.5.56, so forcing them to be gray again with this rule)
.quarto-title-banner h1 {
  color: $old-lace;
}

// tippy box for code annotation
//.tippy-box[data-theme~=quarto] {
//    background-color: #fff1e0
//}

.tippy-box[data-theme~="quarto"] {
  background-color: $old-lace;
  border: solid $border-width $border-color;
  border-radius: $border-radius;
  color: $body-color;
  font-size: $font-size-sm;
}

// figure caption text styling
.figure-caption {
  color: $medium-gray;
  font-style: italic;
}

// blockquote text styling
.blockquote {
  color: $dark-gray;
}

// larger text
.large-text {
  font-size: 25px;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}

// smallest text
.extra-small-text{
  font-size: 14px;  
}

// extra space above line of text (but not as much as <br>)
.topbr {
    display: block;
    margin-top: 1em;
}

// center align text
.center-text {
  text-align: center;
  left: 50%;
}

// right-align text
.right-align-text{
  text-align: right;
}

// dark gray text
.dark-gray-text{
  color: $dark-gray;
}

// gray-italic text (mostly used for captions)
.gray-italic {
  color: $medium-gray;
  font-style: italic;
  font-size: 17px;
}

// gray background; was .quote-text-bg
.dark-green-bg {
  background-color: rgba(152, 160, 141, 0.3); //rgba(166, 164, 161, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

// btn styling
.btn {
  color: $dark-gray;
  background-color: $cream; //$light-sage-green;
  border-color: $dark-gray;
}

// button hover styling
.btn:hover {
  color: $cream;
  background-color: $purple;
  border-color: $dark-gray;
}

// image styling
.img-styling {
  border-radius: 2%;
  border: 2px solid $medium-gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
 //width: 80%;
}

// center image only
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

// headshot shape
.rounded { 
    border-radius: 50px 20px 50px 20px !important;
}

// button text size (landing page)
.about-link-text { 
  font-size: 18px;
}

// button icon size (landing page)
.bi { 
  font-size: 18px;
}

// dropdown navbar text color
.dropdown-item{
  color: $medium-green;
  background-color: $cream;
}

// listing card styling
.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

.callout.callout-style-default .callout-body {
  background-color: $cream;
}

/*.quarto-category {
  color: $purple;
}
.listing-category{
  color: $purple;
}*/

// listing description text styling
.description {
  font-size: 25px;
}

// about page link button colors 
div.quarto-about-jolla .about-link {
  color: $dark-green;
}

.header-section-number {
  color: #003660;
 }